.content {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 12px; /* Adjust the font size here */
}

.content h2 {
  margin-bottom: 30px;
}

.content p,
.content h4 {
  margin-bottom: 10px;
}

.content ul {
  font-size: 1.2rem; /* Adjust the font size here */
  margin: 10px 0;
}

.content li {
  list-style-type: disc;
  margin-left: 15px;
  margin-bottom: 4px;
}

.content h2,
.content p,
.content h4 {
  word-wrap: break-word;
}
