.content {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center; /* Center-align text */
}

.content h2 {
  margin-bottom: 30px;
  font-size: 1.6rem; /* Adjust font size as needed */
}

.content p,
.content h4 {
  margin-bottom: 15px;
  font-size: 1.4rem; /* Adjust font size as needed */
}

.content ul {
  font-size: 1.4rem; /* Adjust font size as needed */
  margin: 15px 0;
}

.content li {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 5px;
}

.content h2,
.content p,
.content h4 {
  word-wrap: break-word;
}
